<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elter-hub</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <!-- inicio -->
        <div class="header"> 
            <div class="navbar">
                <div class="logo center-itens">
                    <h1 style="text-wrap: nowrap;"><a href="/" style="color: white;">ELTER-HUB</a></h1>
                </div>
                <div class="search-container center-itens">
                    <div class="search-input">
                        <input type="text" id="search" placeholder="Pesquisar...">
                        <div class="search-icon">
                            <i class="bi bi-search" style="font-size: 24px;" type="submit"></i>
                        </div>
                    </div>
                </div>
                <div class="auth-container">
                    <button><a href="/auth/login">login</a></button>
                    <button><a href="/auth/register">register</a></button>
                </div>
            </div>
            <nav class="menu">
                <div class="resto">
                    <div class="icons">
                        <div id="img1" class="bi bi-house" style="color: white;"></div>
                        <div id="img3" class="bi bi-trash" style="color: white;"></div>
                    </div>
    
                    <div class="texts" style="display: none;">
                        <div><a href="/" id="txt1" style="color: white; font-size: 16px; font-weight: bold;">HOME</a></div>
                        <div><a href="/api/clear" id="txt3" style="color: white; font-size: 16px; font-weight: bold;">CLEAR</a></div>
                    </div>    
                </div>
            </nav>
        </div>
        <!-- conteudo -->
        <div class="images">
            <% if (images) { %>
                <% images.map((img, id) => { %>
                    <% const is_mp4 = img.format == "mp4"; %>
                    <% if (is_mp4) { %>
                        <div class="card">
                            <div class="card-image">
                                <video src="data:video/mp4;base64, <%- img.data %>" alt="<%- img.name %>">
                            </div>
                            <div class="card-content">
                                <h2 onclick="redirect(event)" id="post_<%- img._id %>"><%- img.name %></h2>
                                <p class="country"><%- img.country %></p>
                                <p class="date"><%- img.date %></p>
                            </div>
                        </div>       
                    <% } else { %>
                        <div class="card">
                            <div class="card-image">
                                <img src="data:image/png;base64, <%- img.data %>" alt="<%- img.name %>">
                            </div>
                            <div class="card-content">
                                <h2 onclick="redirect(event)" id="post_<%- img._id %>"><%- img.name %></h2>
                                <p class="country"><%- img.country %></p>
                                <p class="date"><%- img.date %></p>
                            </div>
                        </div>     
                    <% } %>
                <% }) %>
            <% } %>
        </div>
        <script src="js/change-icons.js"></script>
        <script src="js/search.js"></script>
    </div>
</body>
 
</html>