<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>media</title>
    <link rel="stylesheet" href="/api/get_file/styles/style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <%- include("includes/header.ejs"); %>
    <div class="container">
        <div class="images">
            <% if (images) { %>
                <% images.map((img, id) => { %>
                    <div class="card">
                        <div class="card-image">
                            <img src="<%- img.preview %>" alt="<%- img.name %>">
                        </div>
                        <div class="card-content">
                            <h2 onclick="redirect(event)" id="post_<%- img._id %>"><%- img.name %></h2>
                            <p class="user">by <a href="/profile/<%- img.user %>"><%- img.user %></a></p>
                            <p class="date"><%- img.date %></p>
                        </div>
                    </div>     
                <% }) %>
            <% } %>
        </div>
        <script src="/api/get_file/js/media"></script>
    </div>
</body>
 
</html>