<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elter-hub</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <!-- inicio -->
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <h1><a href="/" style="color: white;">ELTER-HUB</a></h1>
                </div>
            </div>
    
            <nav class="menu">
                <div class="resto">
                    <div class="icons">
                        <div id="img1" class="bi bi-house" style="color: white;"></div>
                        <div id="img2" class="bi bi-images" style="color: white;"></div> 
                        <div id="img3" class="bi bi-trash" style="color: white;"></div>
                        <div id="img4" class="bi bi-search" style="color: white;"></div>
                    </div>
    
                    <div class="texts" style="display: none;">
                        <div><a href="/" id="txt1" style="color: white; font-size: 16px; font-weight: bold;">HOME</a></div>
                        <div><a href="/media" id="txt2" style="color: white; font-size: 16px; font-weight: bold;">MEDIA</a></div>
                        <div><a href="/api/clear" id="txt3" style="color: white; font-size: 16px; font-weight: bold;">CLEAR</a></div>
                        <div><a href="/search" id="txt4" style="color: white; font-size: 16px; font-weight: bold;">SEARCH</a></div>
                    </div>    
                </div>
            </nav>
        </div>
        <!-- conteudo -->
        <div class="images">
            <% images.map((img, id) => { %>
                <% const is_mp4 = img.format == "mp4"; %>
                <% if (is_mp4) { %>
                    <div class="card">
                        <div class="card-image">
                            <video src="data:video/mp4;base64, <%- img.data %>" alt="<%- img.name %>">
                        </div>
                        <div class="card-content">
                            <h2 onclick="redirect(event)" id="post_<%- img._id %>"><%- img.name %></h2>
                            <p class="country"><%- img.country %></p>
                            <p class="date"><%- img.date %></p>
                        </div>
                    </div>       
                <% } else { %>
                    <div class="card">
                        <div class="card-image">
                            <img src="data:image/png;base64, <%- img.data %>" alt="<%- img.name %>">
                        </div>
                        <div class="card-content">
                            <h2 onclick="redirect(event)" id="post_<%- img._id %>"><%- img.name %></h2>
                            <p class="country"><%- img.country %></p>
                            <p class="date"><%- img.date %></p>
                        </div>
                    </div>     
                <% } %>
            <% }) %>
        </div>
    </div>

    <script src="js/media.js"></script>
    <script src="js/change-icons.js"></script>
</body>
</html>