<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>elter-hub</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
<body>
    <div class="container">
        <%- include("includes/header.ejs"); %>
        <% const is_mp4 = image[0].format == "mp4"; %>
        <% if (is_mp4) { %>
            <video src="data:video/mp4;base64, <%- image[0].data %>" alt="<%- image[0].name %>" controls="" style="width: 50%; height: auto;"></video>   
        <% } else { %>
            <img src="data:image/png;base64, <%- image[0].data %>" alt="<%- image[0].name %>" style="width: 50%; height: auto;"></img>  
        <% } %>
        <script src="../js/change-icons.js"></script>
        <script src="js/search.js"></script>
    </div>
</body>
</html>