<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- image.name %></title>
        <link rel="stylesheet" href="/api/get_file/styles/style">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
<body>
    <%- include("includes/header.ejs"); %>
    <div class="media-container">
        <div class="video-player" id="<%- image._id %>">
            <video controls disableremoteplayback=""
            mqn-lazyimage-video-no-play=""
            mqn-video-css-triggers="[{&quot;fire_once&quot;: true, &quot;classes&quot;: [&quot;.mqn2-ciu&quot;], &quot;from&quot;: 1, &quot;class&quot;: &quot;mqn2-grid-1--hero-intro-video-meta-visible&quot;}]"
            mqn-video-inview-no-reset="" mqn-video-inview-play="" playsinline="" autoplay class="responsive-video" id="videoPlayer" src="<%- image.data %>" alt="<%- image.name %>"></video>
            <div class="video-details">
                <h1><%- image.name %></h1>
                <div class="video-user-info" style="font-size: 1.1em;">
                    <img src="<%- user.pfp %>">
                    <div class="video-user-info-piroca">
                        <a href="/profile/<%- image.user %>"><%- image.user %></a>
                        <p><%- user.followers.length %> followers</p>
                    </div>
                </div>
            </div>
            <% const comment_len = image.comments ? image.comments.length : 0; %>
            <h1 style="color: white; margin-top: 20px; margin-left: 5px;" class="piroca" id="<%- comment_len %>"><%- comment_len %> comentario<%- comment_len == 1 ? "" : "s"; %></h1>
            <div class="comments-section">
                <div class="comment-input">
                    <input type="text" placeholder="Adicione um comentario" class="comment-input-v">
                    <button class="submit-comment">Enviar</button>
                </div>       
                <div class="comments">
                    <% if (image.comments.length > 0) { %>
                        <% image.comments.map((comment) => {%>
                            <div>
                                <a href="/profile/<%- comment.user %>"><%- comment.user %></a>
                                <p><%- comment.content %></p>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p style="background-color: rgb(0,0,0,0); color: rgb(0, 183, 255);" class="no_comments">nenhum comentario encontrado.</p>
                    <% }%>
                </div>
            </div>
        </div>
        <div class="recommend-section">
            <h1 style="color: white; text-align: center; margin-top: 10px; font-size: 1.45em;">Outros videos:</h1>
            <% if (user.posts.length > 0) { %>
                <% user.posts.map((a) => { %>
                    <div class="recommend-card">
                        <img src="<%- a.preview %>" alt="">
                        <div class="card-info">
                            <h2><%- a.name %></h2>
                            <p><%- image.user %></p>
                            <p><%- a.date %></p>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
    <script src="/api/get_file/js/comment-io"></script>
</body>
</html>