<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- result.user %></title>
        <link rel="stylesheet" href="/api/get_file/styles/style">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
<body>
    <%- include("includes/header.ejs"); %>
    <div class="container align-center">
        <div class="popup-overlay" id="popupOverlay">
            <div class="popup-content">
              <form action="/api/change-icon" method="post" enctype="multipart/form-data">
                <input type="file" id="arquivo" name="file"><br>
                <button type="submit">Update</button>
              </form>
            </div>
          </div>
        <div class="profile-card">
          <div class="profile-main">     
              <% if (!result.pfp) { %>
                  <img src="../../imgs/default.png" alt="pfp" id="pfp" class="profile-photo">
              <% } else { %>
                  <img src="<%- result.pfp %>" id="pfp" alt="pfp" class="profile-photo">
              <% } %>
          </div>
          <div class="profile-info">  
            <h1 id="<%- result._id %>"><%- result.user %></h1>
            <p><%- result.followers.length || 0 %> followers</p>
            <p><%- result.posts.length || 0 %> posts</p>
          </div>
          <div class="profile-other">
            <button style="border-radius: 4px; width: 80%; <%- result.followers.includes(user.name) ? 'background-color: #61dafb;' : 'background-color: white;' %></button>" id="follow" class="<%- result.user == user.name ? "b1" : "b0" %>"><%- result.followers ? result.followers.includes(user.name) ? "following" : "follow" : "follow" %></button>
          </div>
        </div>
        <div class="profile-card" style="flex-direction: column; height: 35%;" %>>
            <h1 style="margin-bottom: 10px; font-size: 26px">posts</h1>
            <div class="profile-posts">
              <% result.posts.map((a) => { %>
                <% if ( a.id ) { %>
                  <div id="<%- a.id %>" class="post">
                    <img class="post-background" src="<%- a.preview %>">
                    <div class="duration"><p><%- a.duration %></p></div>
                    <p style="font-weight: bold;"><%- a.name %></p>
                    <p style="align-self: flex-end; color: grey;"> <%- a.date || "unknown" %> </p>
                  </div>
                <% } %>
              <% }); %>
            </div>
        </div>
      </div>

      <script src="/api/get_file/js/gotoPost"></script>
      <script src="/api/get_file/js/follow"></script>
    <% if (result.user == user.name) {%>
        <script src="/api/get_file/js/profile"></script>
    <% } %>
</body>
</html>