<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- result.user %></title>
        <link rel="stylesheet" href="../../styles/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
<body>
    <%- include("includes/header.ejs"); %>
    <div class="container align-center">
        <div class="popup-overlay" id="popupOverlay">
            <div class="popup-content">
              <form action="/api/change-icon" method="post" enctype="multipart/form-data">
                <input type="file" id="arquivo" name="file"><br>
                <button type="submit">Change</button>
              </form>
            </div>
          </div>
        <div class="profile-card">
          <div class="profile-main">     
              <% if (!result.pfp) { %>
                  <img src="../../imgs/default.png" alt="pfp" id="pfp" class="profile-photo">
              <% } else { %>
                  <img src="data:image/png;base64, <%- result.pfp %>" id="pfp" alt="pfp" class="profile-photo">
              <% } %>
              <h1><%- result.user %></h1>
          </div>
          <div class="profile-other">
            <button style="border-radius: 4px; width: 80%;">follow</button>
          </div>
        </div>
        <div class="profile-card" style="flex-direction: column;" %>>
            <h1 style="margin-bottom: 10px;">posts</h1>
            <div class="profile-posts">
              <% result.posts.map((a) => { %>
                <% if ( a.id ) { %>
                  <div id="<%- a.id %>" class="post" style="background-image: url('http://localhost:8080/api/static/<%- a.id %>'); filter: blur(5px);">
                  </div>
                <% } %>
              <% }); %>
            </div>
        </div>
      </div>
    <script src="../../js/change-icons.js"></script>
    <script src="../../js/search.js"></script>
    <script src="../../js/gotoPost.js"></script>
    <% if (result.user == user.name) {%>
        <script src="../../js/profile.js"></script>
    <% } %>
</body>
</html>