<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div class="container">
        <div class="search-container align-center" style="width: 100%; margin-top: 20px;">
            <div class="results" style="width: 50%; flex-direction: column;">
                <h2 style="color: white;">Posts:</h2>
                <% if (media.length > 0) { %>
                    <% media.map((a, i) => { %>
                        <div class="result" style="width: 100%;">
                            <h1><a href="/media/post/<%- a._id %>"><%- a.name %></a></h1>
                            <img src="<%= a.preview %>" alt="<%= a.name %>">
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="result">
                        <h1 style="color: rgb(0, 0, 0);">nenhuma media foi encontrada :(</h1>
                        <hr/>
                    </div>
                <% } %>
                <h2 style="color: rgb(255, 255, 255);">Usuarios:</h2>
                <% if (users.length > 0) { %>
                    <% users.map((a) => {%>
                        <div class="result" style="width: 100%;">
                            <h1><a href="/profile/<%- a.user %>"><%- a.user %></a></h1>
                            <img src="<%= a.pfp %>" alt="<%= a.user %>">
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="result">
                        <h1 style="color: rgb(0, 0, 0);">nenhum usuario foi encontrado :(</h1>
                        <hr/>
                    </div>
                <% } %>
            </div>
        </div>  
    </div>

    <script src="../js/search.js"></script>
    <script src="../js/change-icons.js"></script>
</body>
 
</html>