<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="/api/get_file/styles/style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div class="container" style="overflow-y: scroll; width: 100%; height: auto; align-items: center;  align-self:center; border-radius: 8px; margin-top: 20px;">
        <div class="results" style="flex-direction: column;">
            <% if (users.length > 0) { %>
                <% users.map((a) => {%>
                    <div class="result-user">
                        <img class="result-user-bg" src="<%-a.pfp %>" alt="<%-a.user %>">
                        <div class="result-user-piroca">
                        <h1><a href="/profile/<%- a.user %>"><%- a.user %></a></h1>
                        <% if (user.name != a.user) { %>
                            <button style="border-radius: 4px; width: 100%; height: auto; <%- user.following.includes(a.user) ? 'background-color: #61dafb;' : 'background-color: white;' %></button>" id="follow" class="<%- a.user == user.user ? "b1" : "b0" %>"><%- user.following ? user.following.includes(a.user) ? "following" : "follow" : "follow" %></button>                  
                        <% } %>
                    </div>        
                    </div>
                <% }) %>
            <% } %>
            <% if (media.length > 0) { %>
                <% media.map((a, i) => { %>
                    <div class="result">
                        <img class="result-bg" src="<%-a.preview %>" alt="<%-a.name %>">
                        <h1><a href="/media/post/<%- a._id %>"><%- a.name %></a></h1>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div> 
    <script src="/api/bundle.js"></script> 
</body>
</html>